Source: sampler
Section: devel
Priority: optional
Maintainer: Ben Liblit <liblit@cs.wisc.edu>
Build-Depends: cinterlang (>= 1.1.2)
Build-Depends: debhelper (>> 4.0.0)
Build-Depends: docbook-xsl
Build-Depends: flex
Build-Depends: gconf2
Build-Depends: libbonobo2-dev
Build-Depends: libgsl0-dev
Build-Depends: libgtk2.0-dev
Build-Depends: liborbit2-dev
Build-Depends: libxml2-utils
Build-Depends: ocaml
Build-Depends: perl-modules
Build-Depends: python
Build-Depends: python-dev
Build-Depends: python-gnome2-dev
Build-Depends: python-gtk2-dev
Build-Depends: scrollkeeper
Build-Depends: xsltproc
Standards-Version: 3.6.1

Package: sampler
Architecture: all
Depends: python (>= 2.2)
Depends: python-glade2
Depends: python-gnome2
Description: Support for applications with sampled instrumentation
 This package supports instrumented applications at run time.  It
 includes tools for launching instrumented applications, collecting
 sample and crash reports, and uploading those reports to the central
 bug isolation server.

Package: sampler-dev
Architecture: any
Depends: cinterlang (>= 1.1.2)
Depends: perl (>= 5.8), perl-modules
Description: Tools for building applications with sampled instrumentation
 This package provides tools for building applications with sampled
 instrumentation.  It includes an instrumenting C compiler and utility
 tools for collecting and decoding sampled instrumentation reports.

Package: sampler-doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for sampler
 This package contains the documentation files for sampler in general,
 and sampler-dev in particular.

Package: sampler-server
Architecture: all
Depends: apache-common
Recommends: apache-ssl | libapache-mod-ssl
Description: CGI script to receive uploaded instrumentation reports
 This package provides a CGI script that manages the server end of
 sampled instrumentation reporting.  It can be added to any standard
 Apache web server installation that supports CGI scripts and the
 $UNIQUE_ID environment variable.
